// slide options //
.cts-slide-media{

}
.img-preview{
  width: 100%;
}
// slide columns //
.slide-preview{
  max-width: 150px;
  max-height: 60px;
}
// slider create options //
.cts-slider-create-options{
  input[type="text"]{
    width: 20%;
  }
}

// slider edit options //
.cts-slider-edit-options{

}