.img-preview {
  width: 100%; }

.slide-preview {
  max-width: 150px;
  max-height: 60px; }

.cts-slider-create-options input[type="number"] {
  width: 20%;
}
.cts-slider-create-options label {
  width: 40%;
  display: inline-block;
}
.cts-slider-edit-options input{
  max-width: 80px;
}
.cts-slider-edit-options label {
  width:160px;
  display: inline-block;

}